<!DOCTYPE html>
{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

<html>
    <body>

        {% block content %}
        <section class="signup d-flex align-items-center justify-content-center h-100 w-100">
          <div class="container-fluid d-flex align-items-center justify-content-center w-100 h-100">
              <div class="form-holder col-lg-3">
                  <form class="form-control w-100" method="post">{% csrf_token %}
                      <div class="text-center my-2">
                        <h3>Login</h3>
                      </div>
                      <hr class="mt-0 mb-4" style="width:100%">
                      <div class="py-2 mt-4">
                          {{form.username}}
                      </div>
                      <div class="py-2">
                          {{form.password}}
                      </div>
                      <div class="py-2">
                        <button class="btn" type="submit" value="login">Login</button>
                      </div>
                      <div class="my-2">
                        <a class="btn d-flex align-items-center justify-content-center" href="{% provider_login_url 'google' %}" id="google-auth">
                            <img class="social-icons" src="{% static 'pictures/ic_google.png' %}">
                            Google Login
                        </a> 
                      </div>
                      <div class="my-2">
                        <a class="btn d-flex align-items-center justify-content-center" href="{% provider_login_url 'github' %}" id="git-auth">
                            <img class="social-icons" src="{% static 'pictures/ic_github.png' %}">
                            Github Login
                        </a>  
                      </div>
                      <div class="my-2">
                        <p class="nav-item py-2">Do not have an account? <a href="/user/signup">Sign up here</a></p>
                    </div>
                  </form>
              </div>
          </div>
        </section>
        {% endblock %}
    </body>
</html>