<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html>
    {% block content %}
        <body>
            <section class="nav-bar">
                <div class="container-fluid d-flex align-items-center w-100">
                  <h3 class="text-light fw-bold">MYI</h3>
                  <ul class="nav-navbar d-flex align-items-center mx-3">
                    <li class="fw-bold py-2 mx-3"><a href="/">Home</a></li>
                    <li class="fw-bold py-2 mx-3"><a href="/">Groups</a></li>
                    {% if user.is_authenticated %}
                      <li class="fw-bold py-2 mx-3"><a href="/logout">Logout</a></li>
                    {% endif %}
                  </ul>
                </div>
            </section>
            <section class="user-cr d-flex align-items-center">
                <div class="container-fluid d-flex align-items-center justify-content-center py-2 mt-4">
                    <div class="col-lg-12 px-lg-5">
                        <h3 clss="py-2">Create Your Profile</h3>
                        <p class="py-2">Make a/an student/alumni profile and connect with students and experienced individuals,<br>
                        share your knowledge, resolve queries, learn from the experiences of others.</p>
                        <form class="user-form py-4" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="col-lg-12">
                                <div class="row d-flex justify-content-center w-100">
                                    <div class="col-lg-6 my-3 py-2">
                                        <h5 class="py-2">Profile Image:</h5>
                                        {{form.profile_image}}
                                    </div>
                                    <div class="col-lg-6 my-3 py-2">
                                        <h5 class="py-2">Banner Image:</h5>
                                        {{form.banner_image}}
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center w-100">
                                    <div class="col-lg-6 my-3 py-2">
                                        {{form.field}}
                                    </div>
                                    <div class="col-lg-6 my-3 py-2">
                                        {{form.uni}}
                                    </div>
                                </div>    
                                {% if form.experience != null %}
                                    <div class="col-lg-6 my-3 py-2">
                                        {{form.experience}}
                                    </div>
                                {% endif %}   
                                <div class="my-3 py-2">
                                    {{form.about}}
                                </div>
                                <div class="my-3">
                                    <button class="btn" type="submit" value="save">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </body>
    {% endblock %}    
</html>