/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Home
- Information
- Button
- Services
- Plans
- Testimonials
- Newsletter
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/


/**************************/
/*     General Styles     */
/**************************/
:root {
	--primary: #09214f;
	--primary-light: #ffffff;
	--secondary: #0aa0db;
	--tertiary: #00070c;
	--gradient: linear-gradient(to right, #0aa0db, #0d2e4d);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	color: var(--primary);
}

h1 {
	font-size: 60px;
	font-weight: 500;
}

p,
ul,
h4 {
	margin: 0;
	padding: 0;
	color: var(--primary);
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:hover{
	color: var(--secondary);
}

li {
  	list-style-type: none;
}

.btn{
	background-color: var(--secondary);
	border: none;
	color: #fff;
	border-radius: 4px;
	padding: 10px 20px;
	margin-left: auto;
	box-shadow: 0 0 20px var(--secondary);
	cursor: pointer;
}

.btn:hover{
	background-color: var(--primary);
	color: #fff;
	box-shadow: 0 0 20px var(--primary);
}

/* Section Background */
.home,
.about,
.services,
.plans,
.work,
.contact {
	height: 110vh;
	position: relative;
}

.services,
.work,
.contact,
.testimonial,
.footer {
  	background-color: var(--primary);
}

.about,
.plans,
.company,
.newsletter,
.location {
  	background-color: var(--primary-light);
}

.bottom {
  	background-color: black;
}

/* Gradient Border And Background On Icons */
.home_text,
.home .fas,
.plans .far,
.information .fas,
.work .fas,
.services .fas,
.location .far,
.location .fas {
	padding: 15px 0;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar-nav a:hover,
.footer a:hover,
.footer .fab:hover {
	cursor: pointer;
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

* {
  outline: none;
  box-sizing: border-box;
}


html{
	overflow-x: hidden;
	height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
	width: 100%;
	height: 100%;
}

.logo{
	width: 10%;
	height: 10%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px){
	.logo{
		width: 15%;
		height: 15%;
	}

}

@media screen and (max-width: 425px){
	.logo{
		width: 18%;
		height: 18%;
	}

  html{
    overflow-x: scroll;
    font-size: 70.5%;
  }

  body{
    width: 130%;
    height: 100%;
  }
}

@media screen and (max-width: 320px){
	.logo{
		margin-top: 0;
    padding: 0;
	}
}

hr{
	background-color: var(--primary);
	color: var(--primary);
	padding-bottom: 2%;
	width: 50%;
}

.dropdown-divider {
	width: 100%;
	height: 3px;
	border: none;
	background-color: var(--primary);
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-light);
}

.main-container {
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  background-color: var(--primary-light);
}

.side-title {
  font-family: "DM Sans", sans-serif;
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.side-wrapper {
  padding: 30px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  white-space: nowrap;
}
.side-menu svg {
  margin-right: 16px;
  width: 16px;
}
.side-menu a {
  text-decoration: none;
  color: var(--primary);
  display: flex;
  align-items: center;
}

.side-menu a:hover {
  color: var(--secondary);
}

.side-menu a:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 320px){
	.side-menu a{
		width: 200%
	}
}

.profile {
  position: relative;
  height: 40vh;
  min-height: 250px;
  max-height: 350px;
  z-index: 1;
}

.profile-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 4px;
}

.profile:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(50px);
  opacity: 0.7;
}

.profile-menu {
  position: absolute;
  bottom: 0;
  background: var(--primary);
  width: 100%;
  display: flex;
  border-radius: 0 0 4px 4px;
}

.profile-menu-link {
  padding: 20px 16px;
  color:var(--primary-light);
  transition: 0.3s;
  cursor: pointer;
}

.profile-menu-link:hover {
  color: #fff;
  background-color: var(--secondary);
  border-bottom: 3px solid var(--primary-light);
}

#posts{
  display: none;
}

@media screen and (max-width: 425px){
  
  .profile-menu-link{
    display: none;
  }

  #posts{
    display: block;
  }

}

.profile-avatar {
  position: absolute;
  align-items: center;
  display: flex;
  z-index: 1;
  bottom: 16px;
  left: 24px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #151728;
}

.profile-name {
  margin-bottom: 24px;
  color: #fff;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}

.left-side {
  width: 200px;
  border-right: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  background-color: var(--primary-light);
  overflow: auto;
  flex-shrink: 0;
}

@media screen and (max-width: 700px) {
  .profile-avatar {
    left: 15%;
    transform: translatex(-50%);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .profile-img {
    height: 100px;
    width: 100px;
  }

  .profile-name {
    margin: 5px 0;
  }

  .profile-menu {
    padding-left: 0;
    width: 100%;
    overflow: auto;
    justify-content: center;
  }

  .profile-menu-link {
    padding: 16px;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .profile-menu-link:nth-last-child(1),
.profile-menu-link:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 930px) {
  .left-side.active {
    z-index: 4;
  }
  .left-side.active > *:not(.logo) {
    opacity: 1;
    transition: 0.3s 0.2s;
  }
  .left-side.active .left-side-button svg:first-child {
    opacity: 0;
  }
  .left-side.active .left-side-button svg:last-child {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .left-side:not(.active) {
    width: 56px;
    overflow: hidden;
  }
  .left-side:not(.active) > *:not(.logo):not(.left-side-button) {
    opacity: 0;
  }
  .left-side:not(.active) .logo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: bottom;
    display: flex;
    align-items: center;
    margin-top: -10px;
  }
}

.right-side {
  width: 280px;
  flex-shrink: 0;
  margin-left: auto;
  overflow: auto;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1210px) {
  .right-side {
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s;
    height: 100%;
    transform: translateX(280px);
    z-index: 4;
  }
  .right-side.active {
    transform: translatex(0);
  }
}

.box {
  background-color: var(--primary);
  border-radius: 4px;
  margin-top: 10px
}

::-webkit-file-upload-button{
	text-decoration: none;
	background-color: var(--primary);
	color: var(--primary-light);
	padding: 10px 14px;
	line-height: 0.7;
	font-family: "DM Sans", sans-serif;
	font-weight: 500;
	border: none;
	border-radius: 20px;
	outline: none;
}

::-webkit-file-upload-button:active, ::-webkit-file-upload-button:hover {
	background-color: var(--secondary);
	color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.01);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(36, 39, 59, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
}
@media screen and (max-width: 1210px) {
  .overlay.active {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.right-side-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 0;
  width: 52px;
  background-color: #1e2031;
  border-left: 1px solid #272a3a;
  color: #fff;
  display: none;
  cursor: pointer;
}
.right-side-button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #1b86f8;
  border: 2px solid #1e2031;
  top: 13px;
  right: 12px;
}
.right-side-button svg {
  width: 22px;
}
@media screen and (max-width: 1210px) {
  .right-side-button {
    display: block;
  }
}

.left-side-button {
  display: none;
}
@media screen and (max-width: 930px) {
  .left-side-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 60px;
    background-color: rgba(39, 42, 58, 0.5);
    border: 0;
    padding: 0;
    line-height: 0;
    color: #fff;
    border-bottom: 1px solid #272a3a;
  }
  .left-side-button svg {
    transition: 0.2s;
    width: 24px;
  }
  .left-side-button svg:last-child {
    position: absolute;
    left: 50%;
    transform: translate(100%, -50%);
    top: 50%;
    opacity: 0;
  }
}

/**********************/
/*     Navigation     */
/**********************/
.navbar {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
}

.navbar-nav{
	display: none;
	position: absolute;
	font-size: 15px;
	background-color: var(--primary-light);
	border-radius: 10px;
}

.navbar-nav .nav-item .nav-link{
	color: var(--primary);

}

.nav-link{
	color: var(--primary);
	font-weight: bold;
}

.nav-link:hover{
	color: var(--secondary);
}

.side-nav {
  background-color: var(--primary-light);
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

/* .navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
	width: 108px;
	height: 32px;
}

.navbar .logo-text {
	color: #fff;
	font-weight: 500;
	line-height: 1rem;
	font-size: 1.575rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 2.75rem; 
	bottom: 0;
	left: 100%;
	width: 100%;
	overflow-y: auto;
	visibility: hidden;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: var(--primary);
	transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .dropdown-menu {
	border: none;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	background-color: var(--primary);
}

.navbar .dropdown-item {
	color: #eee;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.875rem;
	padding-top: 0.625rem;
	text-decoration: none;
	padding-bottom: 0.625rem;
} */

/* .navbar .dropdown-item:hover {
  	background-color: var(--primary);
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	border: none;
	margin: 0.5rem auto 0.5rem auto;
	background-color: var(--primary-light);
}

.navbar .navbar-nav .nav-item{
	border-color: var(--primary-light);
	border-radius: 2px;
}

.navbar .nav-item .nav-link {
	color: #eee;
	text-decoration: none;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	transition: all 0.2s ease;
}

.navbar .fa-stack {
	width: 2em;
	font-size: 0.75rem;
	margin-right: 0.25rem;
} */

/* .navbar .fa-stack-2x {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#0ee951),
		to(#00dabf)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.2s ease;
} */

/* .navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
  	color: var(--primary);
}

.navbar .fa-stack:hover .fa-stack-1x {
  	color: var(--primary);
} */

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/**********************/
/*       SignUp       */
/**********************/

.signup{
   background-image: url(../pictures/27269.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.signup .container-fluid .col-lg-3{
	width: 40%;
}

.signup .container-fluid div .form-control{
	border-radius: 10px;
	margin-top: 0;
}

.signup .container-fluid div .form-control input,
.signup .container-fluid div .form-control select{
	width: 100%;
	padding-bottom: 5%;
  border: none;
	border-bottom: 1px solid var(--primary);
	text-indent: 2%;
  outline: none;
}

.signup .container-fluid div .form-control .btn{
	width: 100%;
}

.signup .container-fluid div .form-control #google-auth{
	background-color: #0084ff;
  border: none;
  color: #ffffff;
}

.signup .container-fluid div .form-control #git-auth{
	background-color: #000000;
  border: none;
  color: #ffffff;
}

.signup .container-fluid div .form-control #git-auth:hover{
  background-color: #000000;
}

.signup .container-fluid div .form-control #git-auth .social-icons{
	width: 12%;
	height: 12%;
}

.signup .container-fluid div .form-control #google-auth .social-icons{
	width: 6%;
	height: 6%;
  margin-right: 3%;
}

.social-icons{
	width: 8%;
	height: 8%;
	margin-right: 2%;
}

@media screen and (max-width: 523px) {

	.signup .container-fluid .form-holder{
		width: 70%
	}
}

@media screen and (max-width: 375px){

  .signup .container-fluid div .form-control #google-auth .social-icons{
    width: 10%;
	  height: 10%;
  }

  .signup .container-fluid div .form-control #git-auth .social-icons{
    width: 15%;
    height: 15%;
    padding: 0;
  }
  
}
/**************************/
/*     User Createion     */
/**************************/

.user-form input[type=text],
.user-form input[type=number],
.user-form input[type=email]{
  width: 50%;
	padding-bottom: 15px;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid var(--primary);
	text-indent: 10px;
  color: var(--primary);
  outline: none;
  background-color: rgba(13, 46, 77, 0.199);
}


.user-form textarea{
	width: 50%;
  height: 50px;
  color: var(--primary);
	text-indent: 10px;
  border-radius: 5px;
  background-color: rgba(13, 46, 77, 0.199);
  border: none;
  border-bottom: 1px solid var(--primary);
  outline: none;
}

.user-form label{
	color: var(--primary);
	font-size: 20px;
}

@media screen and (max-width: 707px) {

	#edit .user-form textarea{
		width: 70%;
		height: 150px;
		border-radius: 5px;
		text-indent: 10px;
	}
}

@media screen and (max-width: 425px){

	.user-cr .container-fluid{
		margin-top: 5%;
	 }

	.user-form input[type=text]{
		width: 100%;
	}

	.user-form input[type=number]{
		width: 100%;
	}

	.user-form textarea{
		width: 100%;
	}
}

@media screen and (max-width: 616px) and (min-width: 426px) {

	.user-cr .container-fluid{
       margin-top: 5%;
	}

	.user-form input[type=text]{
		width: 75%;
	}

	.user-form input[type=number]{
		width: 75%;
	}

	.user-form textarea{
		width: 75%;
	}
}

/**************************/
/*       Group Detail     */
/**************************/
.timeline {
  position: relative;
  z-index: 2;
}

.timeline-left {
  flex-shrink: 0;
}

/* .timeline-right {
  flex-grow: 1;
  padding-left: 20px;
} */

@media screen and (max-width: 768px) {
  .timeline {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .timeline-right {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .timeline-left {
    width: 100%;
  }
}


.post {
  padding-top: 20px;
  margin-top: 20px;
  width: 50%;
  height: max-content;
  border-radius: 4px;
  box-shadow: 0 0 20px var(--primary);
}

@media screen and (max-width: 616px){
    
  .post{
    width: 100%;
  }

  .post .post-actions{
    width: 100%;
  }

  .post .post-actions .post-action{
    width: 100%;
  }

}

.post .status-main {
  border: none;
  display: flex;
}

.post .intro-menu {
  margin-bottom: auto;
  margin-top: 5px;
}

.post-detail {
  width: calc(100% - 110px);
}

.post-title span {
  color: #1771d6;
  cursor: pointer;
}

.post-date {
  font-size: 15px;
  color: var(--primary-light);
  margin-top: 4px;
}

.post-content {
  padding: 0 20px 20px;
}

.post-photo {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  margin-top: 10px;
}

.post-photos {
  display: flex;
  margin-top: 20px;
  max-height: 30vh;
}

.post-photos > .post-photo {
  width: 50%;
}

.post-right {
  width: 50%;
  margin-left: 10px;
  line-height: 0;
  display: flex;
  flex-direction: column;
}
.post-right .post-photo {
  height: calc(50% - 10px);
}

.post-actions {
  padding: 0 20px 20px;
}

.post-action {
  margin-right: 20px;
  text-decoration: none;
  color: var(--primary);
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}

.post-action:hover {
  color: var(--secondary);
}

.post-action svg {
  width: 16px;
  margin-right: 6px;
}

.intro {
  padding: 20px;
}
.intro-title {
  font-family: "DM Sans", sans-serif;
  color: var(--primary-light);
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.intro-menu {
  background-color: #8f98a9;
  box-shadow: -8px 0 0 0 #8f98a9, 8px 0 0 0 #8f98a9;
  width: 5px;
  height: 5px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 8px;
}

.info {
  font-size: 15px;
}

.info-item {
  display: flex;
  color: var(--primary-light);
}

.info-item + .info-item {
  margin-top: 14px;
}

.info-item a {
  margin-left: 6px;
  color: var(--primary-light);
  text-decoration: none;
}

.info-item svg {
  width: 16px;
  margin-right: 10px;
}


/**************************/
/*      Post Create       */
/**************************/
.add-post .container{
   background-color: var(--primary-light);
   width: 70%;
   border-radius: 10px;
   border: 1px solid var(--primary);
}

.add-post .container form{

  width: 100%;
}

.status-menu {
	padding: 20px;
	display: flex;
	align-items: center;
	background-color: var(--primary-light);
}
  
.status-menu input[type=file]{
	color: transparent;
	max-width: 200px;
}

.status-menu-item + .status-menu-item {
margin-left: 10px;
}

@media screen and (max-width: 500px) {
.status-menu {
	font-size: 14px;
}

@media screen and (max-width: 425px) {
      
  .status-menu div{
    width: 55%;
  }

  .status-menu div ::-webkit-file-upload-button{
    font-size: 60%;
  }
}  

.status-menu-item + .status-menu-item {
	margin-left: 0;
}
}

.status-img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 20px;
}

.status-main {
	padding: 0 20px;
	display: flex;
	align-items: center;
	background-color: var(--primary-light);
	border-bottom: 1px solid var(--primary);
	padding-bottom: 20px;
	flex-wrap: wrap;
}

.status-main textarea{
	flex-grow: 1;
	background-color: transparent;
	border: none;
	resize: none;
	margin-top: 15px;
	outline: none;
	color: var(--primary);
	max-width: calc(100% - 70px);
}
.status-main::placeholder {
	color: var(--primary);
}

.status-actions {
	display: flex;
	padding: 10px 20px;
	background-color: var(--primary-light);
}

.status-action {
	text-decoration: none;
	color: var(--primary-light);
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.status-action svg {
	width: 16px;
	flex-shrink: 0;
	margin-right: 8px;
}
@media screen and (max-width: 1320px) {
.status-action {
	width: 16px;
	overflow: hidden;
	color: transparent;
	white-space: nowrap;
}
}

.search-bar {
  height: 60px;
  background-color: var(--primary-light);
  z-index: 3;
  position: relative;
}
.search-bar input {
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0 54px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3e%3cpath d='M508.9 478.7L360 330a201.6 201.6 0 0045.2-127.3C405.3 90.9 314.4 0 202.7 0S0 91 0 202.7s91 202.6 202.7 202.6c48.2 0 92.4-17 127.3-45.2L478.7 509c4.2 4.1 11 4.1 15 0l15.2-15.1c4.1-4.2 4.1-11 0-15zm-306.2-116c-88.3 0-160-71.8-160-160s71.7-160 160-160 160 71.7 160 160-71.8 160-160 160z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%235C5D71'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 25px 50%;
  color: var(--primary);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.search-bar input::placeholder {
  color: var(--primary);
}

.right-search svg {
  width: 16px;
  height: 16px;
}

.right-search {
  padding-right: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid #272a3a;
  position: sticky;
  bottom: 0;
  margin-top: auto;
}

.right-search input {
  padding-right: 10px;
}

.search-bar-svgs {
  color: #656679;
  display: flex;
}

.search-bar-svgs svg {
  margin-right: 16px;
}

/**********************/
/*     UserTable      */
/**********************/

.user-table .user-row{
  border-bottom: var(--primary) solid 1px;
}

.user-table .user-row .user-data{
  padding: 2%;
}

.user-table .user-row .user-data img{
  width: 70px;
  height: 70px;
}

/**********************/
/*   Group Images     */
/**********************/

.gr-img{
  width: 50%;
  height: 50%;
}

/**********************/
/*       Home         */
/**********************/

.home{
  background-image: url(../pictures/bg-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content;
}

.home .intro{
   padding-top: 15%;
}

.home .copyright_section{

  background-color: var(--tertiary);
}
