<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html>
    <body>
      {% block content %}
        <section class="post-dt">
            <div class="main d-flex justify-content-center">
                {% for ans in object.answers %}
                    <div class="box bg-white d-flex justify-content-center w-100 mt-5">
                      <div class="post box" style="background-color: #fff">
                        <div class="status-main">
                          {% if ans.student != null %}
                          <img src="/media/{{ ans.student.profile_image }}" class="status-img" />
                          {% else %} 
                          <img src="/media/{{ ans.alumni.profile_image }}" class="status-img" />
                          {% endif %}
                          <div class="post-detail"> 
                            <div class="album-title"><strong>{{ans.student.user.username.upper}}</strong></div>
                            <div class="album-date">6 hours ago</div>
                          </div>
                        </div> 
                        <div class="post-content">
                          <p class="py-2">{{ans.text}}</p>
                          <div class="album-photos d-flex justify-content-center">
                            {% if ans.image != null %}
                              <img src="{{ans.image}}" alt="" class="post-photo" />
                            {% endif %} 
                            {% if ans.video != null %}
                              <video width="320" height="240" controls>
                                <source src="{{ans.video}}" type="video/mp4">
                              </video>
                            {% endif %}  
                            <!-- <div class="album-right">
                              <img src="https://images.unsplash.com/photo-1502872364588-894d7d6ddfab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="" class="album-photo" />
                              <img src="https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="" class="album-photo" />
                            </div> -->
                          </div>
                        </div>
                        <!-- <div class="post-actions d-flex justify-content-center align-items-center">   
                          <a class="post-action" type="submit" value="Click">
                            <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
                            </svg>
                            {{post.upvote}}
                          </a>
                          <a href="/ans/add/{{post.pk}}" class="post-action">
                            <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                              <path d="M17 1l4 4-4 4" />
                              <path d="M3 11V9a4 4 0 014-4h14M7 23l-4-4 4-4" />
                              <path d="M21 13v2a4 4 0 01-4 4H3" />
                            </svg>
                            Answer Post
                          </a>
                          <a href="/ans/add/{{post.pk}}" class="post-action">
                            <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                              <path d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z" />
                            </svg>
                            Read Awnsers
                          </a>
                        </div> -->
                      </div>
                    </div>  
                  {% endfor %} 
                </div>            
            </div>
        </section>    
      {% endblock %}
    </body> 
</html>     